.pie-chart {
	position: relative;
	height: 0;
	width: 100%;
	padding: 0;
	padding-bottom: 100%;
}

.pie-chart svg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.segment:nth-child(3n + 1) {
	fill: var(--secondary-green, #3fb34f);
}

.segment:nth-child(3n + 2) {
	fill: var(--primary-blue, #3fb3f6);
}

.segment:nth-child(3n + 3) {
	fill: var(--primary-orange, #fa8700);
}
