@import '~@nti/style-common';

.circular-progress {
	position: relative;

	.value {
		position: absolute;
		color: var(--secondary-green);
		text-align: center;
	}

	&.no-progress {
		.value {
			color: var(--tertiary-grey);
		}
	}

	&.progress-complete-container {
		display: flex;
		color: var(--secondary-green);
		cursor: pointer;

		.progress-completed {
			background-color: var(--secondary-green);
			width: 24px;
			height: 24px;
			border-radius: 25px;
			position: relative;

			.check {
				color: white;
				position: absolute;
				text-align: center;
			}
		}
	}
}
